<ol reversed="reversed">
  {% for pres in site.data.contributed %}
  <li>
      <p style="text-align:left;">
        {{ pres.conference }}, {{ pres.location }} {% if pres.type == "Talk" %} {% if pres.url %}<a href="{{ pres.url }}" target="_blank"><i class="far fa-file-powerpoint"></i></a>{% endif %} {% if pres.video %}<a href="{{ pres.video }}" target="_blank"><i class="fab fa-youtube"></i>/a>{% endif %}
        {% else %}
          {% if pres.url %}<a href="{{ pres.url }}" target="_blank"><i class="far fa-file-pdf"></i></a>{% endif %}
        {% endif %}
      <span style="float:right;">
        {{ pres.year }}
      </span>
      </p>
  </li>
  {% endfor %}
</ol>
