<ol reversed="reversed">
  {% for paper in site.data.preprints %}
  <li>
      <p>
        {{ paper.authors | markdownify | | remove: "<p>" | remove: "</p>"}}, {{ paper.year }}. {{ paper.title | markdownify | | remove: "<p>" | remove: "</p>"}}, <em>{{ paper.journal }}</em>. Posted: {{ paper.posted }}.
        {% if paper.url %}<a href="{{ paper.url }}" target="_blank"><i class="fas fa-link"></i></a>{% endif %}
        {% if paper.github %}<a href="{{ paper.github }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
      </p>
  </li>
  {% endfor %}
</ol>
